<footer class="section-p1">
        <div class="col">
            <h4>Contacto</h4>
            <p><strong>Direcion:</strong> Argentina,Mendoza,Guaymallen,Coronel Dorrego 245</p>
            <p><strong>Telefono:</strong> +5423562174</p>
            <div class="follow">
                <h4>Siguenos</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
            
        </div>
        <div class="col">
            <h4>Acerca De</h4>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Informacion De Entrega</a>
            <a href="#">Politica De Privacidad</a>
            <a href="#">Terminos Y Condiciones</a>
            <a href="#">Contactanos</a>
        </div>

        <div class="col">
            <h4>Mi Cuenta</h4>
            <a href="#">Iniciar Sesion></a>
            <a href="#">Ver Carrito</a>
            <a href="#">Mi Lista De Deseos</a>
            <a href="#">Seguir Mi Pedido</a>
            <a href="#">Ayuda</a>
        </div>

        <div class="col install">
            <h4>Instala La Aplicacion</h4>
            <p>Desde La Tienda De Aplicaciones O Google Play</p>
            <div class="row">
                <img src="/images/pay/app.jpg" alt="">
                <img src="/images/pay/play.jpg" alt="">
            </div>
            <p>Pagos Seguros</p>
            <img src="/images/pay/pay.png" alt="">
        </div>

        <div class="copyrigth">
            <p>© 2025 GAS</p>
        </div>
    </footer>