    <section id="product1" class="section-p1">
        <h2>Productos Destacados</h2>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='productDetail.html';">
                <img src="img/shopp/1.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Remera liviana Lila</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$10000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/2.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa casual verde mang-cortas</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$12000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="img/shopp/3.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Remera liviana blanca</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$10000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/4.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Remera liviana roja</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$10000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/5.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa De Flores Violeta</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$10000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/6.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa de flores mang-cortas</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/7.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Campera de mujer frizada</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$25000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>
            <div class="pro">
                <img src="img/shopp/8.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Tapado de mujer lila </h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$35000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i>                    
            </div>

        </div>
    </section>