<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Eliminar</td>
                    <td>Imagen</td>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="img/shopp/1.jpg" alt=""></td>
                    <td>Remera liviana Lila</td>
                    <td>$10.000</td>
                    <td><input type="number" value="1"></td>
                    <td>10.000</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
      <div id="subtotal">
        <h3>Total </h3>
        <table>
            <tr>
                <td>Total</td>
                <td>$10.000</td>
            </tr>
            <tr>
                <td>Envio</td>
                <td>Gratis</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$30.000</strong></td>
            </tr>           
        </table>
        <button type="button" class="normal">Procede a Pagar</button>
      </div>
    </section>

    <%- include('../partials/footer.ejs') %>


    <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
     <script src="/javascripts/script.js"></script>
</body>

</html>