<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>


            <section id="prodetails" class="section-p1">
                <div class="single-pro-image">
                    <img src="/images/shopp/1.jpg" whidth="100%" id="MainImg" alt="">

                    <div class="small-img-group">
                        <div class="small-img-col">
                            <img src="/images/shopp/2.jpg" width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="/images/shopp/3.jpg" width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="/images/shopp/4.jpg" width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="/images/shopp/5.jpg" width="100%" class="small-img" alt="">
                        </div>
                    </div>
                </div>

                <div class="single-pro-details">
                    <h6>remera casual</h6>
                    <h4>Remera lila liviana</h4>
                    <h2>$10.000</h2>
                    <select>
                        <option>Selecciona Talle</option>
                        <option>XL</option>
                        <option>XXL</option>
                        <option>Small</option>
                        <option>Large</option>
                    </select>
                    <input type="number" value="1">
                    <button>A침adir al Carrito</button>
                    <h4>Detalle Del Producto</h4>
                    <span>La Remera GAS est치 confeccionada con un tejido resistente 100 % algod칩n.
                        Esta Remera ofrece una comodidad inigualable con cada uso.
                        Disponible en una amplia gama de colores, lo ofrece todo en un paquete que llama la
                        atenci칩n.</span>
                </div>
            </section>

            <%- include('../partials/producto.ejs') %>

            <%- include('../partials/footer.ejs') %>



                <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
                <script src="/javascripts/script.js"></script>

    </body>

</html>