<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
   
    <%- include('../partials/producto.ejs') %>

    <section id="product1" class="section-p1">
        <h2>Coleccion de Camisas</h2>
        <div class="pro-container">
            <div class="pro">
                <img src="/images/shop1/n1.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa multicolor + remera blanca</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$38000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n2.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa de jean celeste</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n3.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa marron casual</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$20000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n4.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa de trabajo celeste sin cuello</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n5.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa liviana negra mang-cortas</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n6.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa casual gris mang-largas</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n7.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa blanca sin cuello</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$23000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>
            <div class="pro">
                <img src="images/shop1/n8.jpg" alt="">
                <div class="des">
                    <span>GAS</span>
                    <h5>Camisa casual mang-corta</h5>
                    <div class="star">
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <h4>$15000</h4>
                </div>
                <a href="#"><i class="ri-shopping-cart-line cart"></i></a>                    
            </div>

        </div>
    </section>
   

    <%- include('../partials/footer.ejs') %>



    <script src="/javascripts/script.js"></script>
    <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
</body>
</html>