<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <section id="login">
        <form action="">
                <h2>Bienvenido</h2> <hr>
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Contrase単a">
                <button type="submit"> Iniciar sesion</button>    
                <p>多No tenes cuenta? <a href="register.html">Registrate</a></p>
                <p>多Perdiste tu contrase単a? <a href="register.html">Recuperala</a></p>
            </section>
        </form>
    
    <%- include('./partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>