<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>

    <section id="login">
        <form action="/users/login" method="POST">
            <h2>Bienvenido</h2>
            <hr>

            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Iniciar sesión</button>

            <p>¿No tenés cuenta? <a href="/users/register">Registrate</a></p>
            
        </form>
    </section>

    <%- include('../partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>