<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>  
<body>
    <%- include('./partials/header.ejs') %>

    <section id="form-details">
        <form action="">
                <h2>Registrate</h2> <hr>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Num Celular">
                <input type="text" placeholder="Contraseña">
                <button type="normal"> Registrate</button>    
                <p>¿Tenes cuenta? - <a href="register.html">Inica Sesion</a></p>
            </form>
                   
    </section>
    <%- include('./partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/efd6aa0e68.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>